* {box-sizing: border-box}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", helvetica, arial, sans-serif;
}

/* Style tab links */
.tablink {
  background-color: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: rgb(92, 92, 92);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(0, 0, 0);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Calendar {background-color: #446B5C;}
#History {background-color: #78B35E;}
