
.page-selector{
    margin: auto;
    max-width: 80%;
    padding:5px;
    width: 100%;
}
.page-input{
   display: inline;
}

.btn_sel {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  display:inline;
}
/* Blue */
.info {
  border-color: #D4A06D;
  color: #D4A06D
}

.info:hover {
  background: #D4A06D;
  color: white;
}
